# Змінні середовища для підключення бази даних та налаштування сервера
MONGO_URI=your_mongodb_connection_string_here
PORT=5000
CLIENT_URL=http://localhost:5173

# Облікові дані для доступу до AdminJS панелі
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_secure_admin_password
SESSION_SECRET=your_random_session_secret_string