
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(244, 241, 234, 0.88);; 
  color: #F4F1EA; 
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden; 
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}